- content_for :page_title do
  = t('auth.register')

.omniauth-actions
  = link_to user_github_omniauth_authorize_path, class: "btn btn-block btn-social btn-github" do
    %span.fa.fa-github
    Sign in with GitHub（近日中にシャットダウンされますのでご注意ください）

.form-footer= render "auth/shared/links"
