.landing-strip
  = t('landing_strip_html',
    name: content_tag(:span, display_name(account), class: :emojify),
    domain: Rails.configuration.x.local_domain,
    sign_up_path: user_github_omniauth_authorize)
